<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./src/assets/bundle.js"></script>
    <link rel="stylesheet" href="./src/assets/styles.css">
</head>
<body>
<section id="todoapp">
    <header id="header"></header>
    <div id="breadcrumbs"></div>
    <section id="main"></section>
    <footer id="footer"></footer>
</section>


<script id="row-template" type="x-template/lodash">
        <td><a href="#project/<%= project_id %>/task_<%= id %>"><%= title %></a></td>
</script>


<script id="table" type="x-template/lodash">
    <table>
        <thead class="thead-inverse">
        <tr>
            <th><a href="#project/<%= id %>"><%= title %></a><button id="delete_project" class="btn btn-primary btn-sm" type="button">delete</button></th>

        </tr>
        </thead>
        <tbody></tbody>
    </table>

</script>

<script id="message-template" type="x-template/lodash">
    <td><%= text %></td>
</script>

<script id="task-template" type="x-template/lodash">
    <table class="table table-hover project_title">
        <thead class="thead-inverse">
        <tr>
            <th><%= title %></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>



<script id="link_template" type="x-template/lodash" >
    <a href="<%= url %>"><%= name %></a> &gt;
</script>

<script id="header-template" type="x-template/lodash">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a class="navbar-brand" href="#">
            <img src="./src/img/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Teamer
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline">
            <button id="add" class="btn btn-outline-primary" type="button">ADD</button>
        </form>
        </div>
    </nav>
</script>

<script>
    teamer.start();
</script>
</body>
</html>