@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/animate-scss/animate';
@import "pagination";
@import "spinner";
.main-view-container{

  &>div{
    @extend .col-12;
    button{
      cursor: pointer;
    }
    .main-container_search-menu{
      margin: 0 auto;
      h1{
        text-align: center;
      }
    }
    .example-zone{

    }
    .left {
      float: left !important;
    }
    .right {
      float: right !important;
    }
  }
}


th > a {
  color: white;
}

td > a {
  color: #292b2c;
}

#breadcrumbs {
  overflow: hidden;
  margin-bottom: 0;
  background-color: #eceeef;

}

.breadcrumb {
  float: left;
  border-radius: 0;
  margin-bottom: 0;
  padding-right: 0;
}